<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <h2>New Post</h2>
        <input name="username" type="text" placeholder="enter username"> </br></br>
        <textarea  name="content" type="textarea" rows="8" columns="20"></textarea></br></br>
        <button>Submit</button>
    </form>
</body>
</html>